<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle de la Foto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mostrar la foto seleccionada -->
  <ion-img [src]="selectedPhoto.urls.regular" alt="Photo"></ion-img>
  <!-- Mostrar los detalles de la foto -->
  <ion-card>
    <ion-card-header> Autor: {{ photoDetails.user.name }} </ion-card-header>
    <ion-card-content>
      Descripción: {{ photoDetails.description || 'No disponible' }}
      <br />
      Ubicación: {{ photoDetails.location ? photoDetails.location.city + ', ' +
      photoDetails.location.country : 'No disponible' }}
    </ion-card-content>
    <!-- Otros detalles de la foto según tus necesidades -->
  </ion-card>
</ion-content>
