<ion-header>
  <ion-toolbar>
    <ion-title>Foto Seleccionada</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="selectedPhoto.urls.regular" alt="Foto Seleccionada">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Detalles de la Foto</ion-card-title>
      <ion-card-subtitle>{{ photoDetails?.description }}</ion-card-subtitle>
      <ion-card-content>{{ photoDetails?.alt_description }}</ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="iniciarDescarga()">Descargar Imagen</ion-button>
</ion-content>
