ion-tab-button{
    background-color: #e9004e;
}
ion-tab-button:hover{
    background-color: #ff0055;
}

ion-tab-button:active{
    background-color: #3a0017;
    color: #ffffff; 
}
ion-icon{
    color: #ffffff;
}
ion-label{
    color: #ffffff;
}
