.btn{
    margin-top: 10px;
    background-color: #e9004e;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 10px;
  }
  .custom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .modal-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    &::after {
      content: "Select";
      color: #ff397b;
      padding-right: 20px;
    }
  }