.btn{
    margin-top: 10px;
    background-color: #e9004e;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 10px;
  }