<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONOCE EL MUNDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterCountries()"></ion-searchbar>



  <ion-grid>
    <ion-row *ngFor="let country of filteredCountries" class="country-row">
      <ion-col size="6" *ngFor="let photo of photosByCountry[country]" class="photo-col">
        <ion-card (click)="openPhotoModal(photo)">
          <img [src]="photo.urls.regular" alt="Photo">
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
